#header {
    background-color: darkblue;
    color: white;
}

#city {
    border: 2px solid orange;
}

#forecast {
    border: 2px solid orange;
}

#day {
    background-color: rgb(1, 1, 100);
    color: white;
}